


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
    height: min-content;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb00;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}















.degrader2{
    position: absolute;
    width: 100%;
    height:100%;
    top: 1300px;
    opacity: 68%;
    z-index: -50;

}
.degrader{
    position: absolute;
    z-index: -5;
    height: 100%;
    width: 100%;
}

html, body {margin: 0px; width: 100%;}
   
a{
    text-decoration: none; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    color: #AAAAAA;
   
    margin: 40px;
    margin-right: 85px;
    margin-left: 10px;
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
   
}

.contact{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 2vh;
    
}

h1{
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 85px;
    line-height: 156px;
    margin: 0;
    margin-bottom: -60px;
  
    
}



h2{
    font-family: 'Montserrat';
    color: #AAAAAA;
    font-weight: 500;
    font-size: 62px;
    line-height: 116px;
    margin: 0;

  
}




p{
    font-family: 'Roboto';
    color: #AAAAAA;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 8vh;
   
    
}

.para{
    position: absolute;
    top: 45%;
    right: 51%;
    
}

.box-txt-card{
    width: calc(100%/1.5);
    display: flex;
    justify-content: space-between;
}

.box-mad-clin{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    margin-top: 22%;
    margin-left: 5%;
  
}

.box-txt-card img{
    width: 40%;
    height: 20%;
    margin-top: 10vh;
    z-index: -50;
    margin-left: 10vh;
    transform: rotate(12.65deg);
}


.logo{
    z-index: -50;
    margin-top: 8%;

}

.vdeux{
    position: absolute;
    width: 332.11px;
    height: 149.54px;
    left: 10%;
    top: 75%;

}

.LAB{
    position: absolute;
    z-index: -55;
    width: 381.33px;
    height: 159.3px;
    left: 70%;
    top: 13%;

}

h3{
    margin-left: -35%;
    margin-top: 20%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    
}

.HS{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #AAAAAA;


}